* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  border-radius: 9px;
}

h1,
h2 {
  font-weight: 700;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  display: inline-block;
}

/* ------------------------ */
/* SECTION */
/* ------------------------ */
.section-hero,
.section-about,
.section-quote,
.section-faq,
.section-seo {
  padding: 9.6rem 0;
}

/* ------------------------ */
/* CONTAINERS */
/* ------------------------ */
.container {
  width: 120rem;
  margin: 0 auto;
  padding: 3.2rem;
}

.container--hero {
  max-width: 90rem;
  text-align: center;
}

.container--accordion {
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

/* ------------------------ */
/* HEADINGS */
/* ------------------------ */
.heading-primary {
  font-size: 5.2rem;
  background-image: linear-gradient(to bottom right, #30b587, #227f5f);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  letter-spacing: -3px;
}

.heading-secondary {
  font-size: 3rem;
  letter-spacing: -1.5px;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 3.8rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  letter-spacing: -1.5px;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 3.6rem;
}

.subheading {
  color: #30b587;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1.2rem;
}

/* ------------------------ */
/* MARGINS */
/* ------------------------ */
.margin-bottom--sm {
  margin-bottom: 2.4rem !important;
}
.margin-bottom--md {
  margin-bottom: 4.8rem !important;
}
.margin-bottom--lg {
  margin-bottom: 8rem !important;
}

/* ------------------------ */
/* BUTTONS */
/* ------------------------ */
.btn:link,
.btn:visited {
  background-color: #30b587;
  box-shadow: 0 0rem 4.8rem rgba(0, 0, 0, 0.15);

  color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 100px;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6rem;
}

.btn:hover,
.btn:active {
  background-color: #185b44;
}

/* ------------------------ */
/* GRIDS */
/* ------------------------ */
.grid {
  display: grid;
  column-gap: 6.4rem;
  justify-items: center;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--center-v {
  align-items: center;
}

.row-gap--big {
  row-gap: 12.8rem;
}

/* ------------------------ */
/* TEXT */
/* ------------------------ */
.paragraph {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 2.4rem;
  line-height: 1.4;
}

.center-text {
  text-align: center;
}
