@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 100rem;
  }
  .hero-img {
    width: 75%;
    display: block;
    margin: 0 auto;
  }
  .grid {
    column-gap: 4.8rem;
  }
  .section-seo .grid {
    row-gap: 4.8rem;
  }
  .section-quote {
    padding: 6.4rem 0;
  }
  .heading-secondary {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .heading-tertiary {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .paragraph {
    font-size: 1.6rem;
  }
  .seo-box {
    padding: 1.6rem 3.2rem;
  }
  .operations {
    max-width: 90rem;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .container {
    max-width: 85em;
  }
  .container--hero {
    max-width: 75rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .section-about .grid {
    column-gap: 3.2rem;
    align-items: center;
  }
  .operations {
    max-width: 75rem;
    /* padding-top: 2rem; */
  }
  .operations__tab-container {
    padding-top: 1.8rem;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
  }
  .operations__tab {
    width: 50%;
    margin-right: 0;
    transform: translateY(0%);
  }
  .operations__tab--active {
    /* transform: translateX(-2%); */

    transform: scale(1.1);
    /* margin-bottom: 2rem; */
  }
  .operations__content {
    padding: 1.6rem 0;
  }

  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-img-box img {
    /* width: 70%; */
  }

  .mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main-navigation {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* transform: translateX(100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .main-navigation ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 44em) {
  .container {
    max-width: 60rem;
  }
  .container--hero {
  }
  nav {
    display: none;
  }
  .section-hero,
  .section-about,
  .section-quote,
  .section-faq,
  .section-seo {
    padding: 4.8em 0;
  }
  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .subheading {
    /* margin: 0 auto; */
    /* text-align: center; */
  }
  .heading-secondary {
    text-align: center;
  }
  .heading-tertiary {
    /* text-align: center; */
  }
  .paragraph {
    /* text-align: center; */
    max-width: 40rem;
  }
  .subheading {
    display: block;
    text-align: center;
  }
  .grid {
    row-gap: 3.2rem;
  }
  .features--img[alt="Zen stones"] {
    /* color: red; */
    /* height: 3rem; */
    grid-row: 3;
  }
}

@media (max-width: 34em) {
  .container {
    max-width: 50rem;
  }
}
